body{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  
  }
  .botoes {
    margin: 20px 0;
  }
  

  .botao-estilizado {
      margin-right: 10px;
      padding: 10px 20px;
      font-size: 1em;
      border: none;
      border-radius: 50px;
      cursor: pointer;
      background-color: #ffd0eb;
      color: rgb(32, 0, 15);
    }
    


  
  header{
  padding: 15px;
  text-align: center;}
  
  nav{

  padding: 10px;
  text-align: center;
  }
  
  article {
      border-radius: 15px;
      padding: 20px;
      margin-bottom: 30px;
      box-shadow: 0 4px 12px rgba(58, 0, 27, 0.1);
    
  
  } 
  
  section{

  padding: 20px;
  }
  
  details{

  padding: 10px;
   border-radius: 5px;
  }
  
  aside{

  padding: 15px;

  }
  
  footer{
  background-color: #420112;
  color: #ffbdde;
  padding: 10px;
  text-align: center; 
    
  }
  
  summary{
  font-weight: bold;
   cursor: pointer;
  }
  
  nav a {
      color: rgb(0, 0, 0);
       margin: 0 15px; 
       text-decoration: none;
        font-weight: bold;
  }
  
  
  .sidebar {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #420112;
      overflow-x: hidden;
      padding-top: 60px;
      transition: 0.3s;
    }
  
    .sidebar a {
      padding: 10px 20px;
      text-decoration: none;
      font-size: 20px;
      color: #ffbdde;
      display: block;
      transition: 0.3s;
    }
  

    .closebtn {
      position: absolute;
      top: 10px;
      right: 20px;
      font-size: 30px;
      cursor: pointer;
      color: #ffbdde  ;
    }
  
    .openbtn {
      font-size: 20px;

      color: rgb(0, 0, 0);
      padding: 10px 15px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
    }
  

    #main {
      transition: margin-left 0.3s;
      padding: 20px;
      margin-left: 0;
     
    }
   
    #centro
    {
      max-width: 900px;
      margin: 50px auto;
      text-align: center;
      
    }

    img
    {
       width: 15%; 
      border-radius: 70%  ;
      display: block;
      margin: 20px auto;
      border: 4px solid #420112;
     
    }

 .carrossel-container
 {

 text-align: center;
 margin: 30px auto;
 max-width: 960px;
}

.carrossel{

  display: flex;
align-items: center;
justify-content: center;
gap: 10px;
}

.carrossel-imagens{
display: flex;
gap: 15px;
overflow: visible;
}

.carrossel-imagens img{
width: 200px;
height: auto;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
flex-shrink: 0;
}

.carrossel-btn
{
border: none;
font-size: 30px;
cursor: pointer;
color: #333;
padding: 10px;
transition: 0.3s;}

.carrossel-btn:hover{
color: #420112;
transform: scale(1.2);}
.popup {
  display: none;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: white;
  padding: 20px;
  max-width: 600px;
  width: 90%;
  border-radius: 8px;
  text-align: center;
  position: relative;
}

.popup-content img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}


.fechar {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}


